<div class="container">
  <div class="row">
    <div id="respLogin" class="span4 offset4 well">
     <legend>Sign In</legend>
        <div class="social">
          Sign in using Social Network<br>
            <div class="google">
              <%= ilink_to "google-plus-sign", "Sign in with Google + ", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-danger' %>
            </div>
            <div class="fb">
             <%= ilink_to "facebook-sign", "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-blue' %>

            </div>  
          </div>

      <div id="login">
        Sign in with registered account:
       <%= form_for(resource, :as => resource_name, :html => {class:"form-horizontal"}, :url => session_path(resource_name))  do |f| %>
       <fieldset>
        <%= f.email_field :email, :autofocus => true, :class => 'login user', :placeholder => 'Username' %>
        <%= f.password_field :password, :class => 'login password', :placeholder => 'Password' %>
      
     </div><!--login-->

     <div class="button">
      <%= f.submit "Sign in", :class => 'btn btn-primary'  %>
    </div>

<div class="checkbox">
  <% if devise_mapping.rememberable? -%>
        <label class="choice">Keep me signed in
        <%= f.check_box :remember_me %>
        </label>
  <% end -%>
</div>
</fieldset>
<% end %>




    </div>
  </div>
</div>


