<div class="container">
  <div class="row">
    <div id="respLogin" class="span4 offset4 well">
     <h2 class="section-header">Resend confirmation instructions</h2>
      <div id="reg">
       <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>
        
        <%= f.email_field :email, :autofocus => true, :placeholder => 'Enter Your Email' %>

        <%= f.submit "Resend confirmation instructions", :class => 'btn btn-primary' %>
      <% end %>

     </div>
    </div>
  </div>
</div>



