<div class="container">
  <div class="row">
    <div id="respLogin" class="span4 offset4 well">
     <h2 class="section-header">Sign Up</h2>
      <div id="reg">
       <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
       <%= devise_error_messages! %>
       
       <%= f.text_field :name,  :autofocus => true, :placeholder => 'Full Name' %>

      <%= f.email_field :email, :placeholder => 'Email Address' %>

      <%= f.password_field :password, :placeholder => 'Password'%>

      <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
    </br>


        <%= f.submit "Sign up", :class => 'btn btn-primary' %>
    
      <% end %>

      <%= render "devise/shared/links" %>

     </div>
    </div>
  </div>
</div>


