<h1>Make Predictions</h1>

<%= form_tag controller: 'predictions', action: 'create', method: 'post' do %>
  <% @fixture_date.sort.each do |date, fixture| %>
    <h5><%= date_format(date) %></h5><br>

    <% fixture.each do |fixture|%>
    
    <%= fixture.home_team %> vs <%= fixture.away_team %>
    <%= text_field_tag "predictions[][home_score]" %>
    <%= text_field_tag "predictions[][away_score]" %><br />
    <%= hidden_field_tag "predictions[][home_team]", fixture.home_team %>
    <%= hidden_field_tag "predictions[][away_team]", fixture.away_team %>

    <%= hidden_field_tag "predictions[][fixture_date]", fixture.fixture_date %>
    <%= hidden_field_tag "predictions[][fixture_id]", fixture.id %>
    <%= hidden_field_tag "predictions[][user_id]", current_user.id %>
    <% end %>
  <% end %>
  <%= submit_tag "Submit predictions" %>
<% end %>


