<div class="container">
  <div class="row">
    <div id="respLogin" class="span4 offset4 well">
     <h2 class="section-header">Forgot Your Password</h2>
      <div id="reg">
       <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.email_field :email, :autofocus => true, :placeholder => 'Enter Your Email' %>

        <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary' %>
       <% end %>

     </div>
    </div>
  </div>
</div>
