<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="../">Premier Predictions</a>
       <div class="nav-collapse collapse" id="main-menu">
        <ul class="nav pull-right">
          <li><%= link_to "#{current_user.name}", edit_user_registration_path %></li>
          <li><%= link_to "My Predicitons", predictions_path %></li>
          <li><%= login_status %></li>  
       </div>
     </div>
   </div>
 </div>