#predictions__home_score {
  float:right;
  width:22%;
  margin-right:5px;
  margin-right:5px;
}
 
#predictions__away_score {
  float:left;
  width:22%;
}
 
td.home-team {
  width:30%;
  text-align:right;
}
 
td.away-team {
  width:30%;
}

td.home-score {
  text-align: right;
}


td.away-score {
  text-align: left;
}

td.dash {
  text-align: center;
}

tr.results > td {
 padding-bottom:10px;
}
.points {
  font-size:3em;
  text-align: center;
}

.btnHolder {
  text-align: center;
}


