@media all and (max-width: 320px) {

  h2 {
    font-size:1.5em
  }

ul.fixtures, ul.fixture-dates {
  margin:0px;
}

ul.fixtures li {
  font-size:0.9em;
}

span.home-team {
  width:34%;
}

span.away-team {
  display:inline;
  width:0px;
}



}