@media all and (max-width: 1200px) {

  legend {
    text-align:center;
  }

  fieldset {
    text-align:center;
  }

  .well {
    margin-top:20px;
  }

 .social {
   height:auto;
   padding: 0px 0 10px;
   text-align: center;
 }

 .login {
  width:140px;

 }

 #login {
  text-align:center;
 }

 .checkbox {
  margin:0px;
 }

 .button {
  width:70px;
  margin-top:0px;
 }

 .google, .fb {
  float:none;
  height:auto;
  text-align: center;

 }


}