<p>Welcome to Premier League Predictions <%= @user.name %></p>

<p>We just need you to confirm you are who you say you are and then you are all set to start making your Premier League Predictions, set up a mini league or just compete against the rest of the country.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
