    <div class="container">
      <div class="row">
        <div class="span4">
         <div class="well">
          <h2 class="section-header">Make Predictions</h2>
           <%= form_tag controller: 'predictions', action: 'create', method: 'post' do %>
             <% @fixture_date.sort.each do |date, fixture| %>
              <table>
             <h5><%= date_format(date) %></h5>
             <tbody>
                <% fixture.each do |fixture|%>
                 <% if current_user.predictions.where(:fixture_id == fixture.id).empty? %>
                  <tr>
                   <td class="home-team"><%= fixture.home_team %></td>
                   <td><%= text_field_tag "predictions[][home_score]" %></td>
                   <td><%= text_field_tag "predictions[][away_score]" %></td>
                   <td class ="away-team"><%= fixture.away_team %></td>
                   <%= hidden_field_tag "predictions[][home_team]", fixture.home_team %>
                   <%= hidden_field_tag "predictions[][away_team]", fixture.away_team %>
                   <%= hidden_field_tag "predictions[][fixture_date]", fixture.fixture_date %>
                   <%= hidden_field_tag "predictions[][fixture_id]", fixture.id %>
                  </tr> 
 
                  <% else %>
 
                    <tr>
                   <td class="home-team"><%= fixture.home_team %></td>
                   <td><%= text_field_tag "predictions[][home_score]", current_user.predictions.where(fixture_id: fixture.id, home_team: fixture.home_team).first.home_score, :disabled => true  %></td>
                   <td><%= text_field_tag "predictions[][away_score]", current_user.predictions.where(fixture_id: fixture.id, away_team: fixture.away_team).first.away_score, :disabled => true  %></td>
                   <td class ="away-team"><%= fixture.away_team %></td>
                   <%= hidden_field_tag "predictions[][home_team]", fixture.home_team %>
                   <%= hidden_field_tag "predictions[][away_team]", fixture.away_team %>
                   <%= hidden_field_tag "predictions[][fixture_date]", fixture.fixture_date %>
                   <%= hidden_field_tag "predictions[][fixture_id]", fixture.id %>
                  </tr> 
 
                  <% end %><!--if/else-->
                <% end %><!-- fixture -->
              <% end %><!-- date-->
              </tbody>
              </table>
              <div class="btnHolder">
                <%= submit_tag "Submit predictions", :class => "btn btn-success btn-large" %>
               </div>
            <% end %><!--Form Tag--> 
        </div>
       </div>


    <div class="span4">
     <div class="well">
      <h2 class="section-header">Previous Results</h2>
       <% @result_date.sort.each do |date, results| %>
        <table>
         <h5><%= date_format(date) %></h5>
          <tbody>
         <% results.each do |result| %>
         <tr class="results">
          <td class="home-team"><%= result.home_team %></td>
          <td class="home-score"><%= result.home_score %></td>
          <td class="dash"> - </td>
           <td class="away-score"><%= result.away_score %></td>
          <td class="away-team"><%= result.away_team %></td>
         </tr>
         <% end %>
          </tbody>
        </table>
        <% end %>
        
        <h2 class="section-header">Points Earned</h2>
          <p class="points"><%= @weekly_points %></p>
       </div>
    </div>

    <div class="span4">
     <div class="well">
      <h2 class="section-header">Your Score</h2>
       <p class="points"><%= @total_points %></p>

    <h2 class="section-header">High Scores</h2>
     <% @user.each do |s| %>
     <%= s.name %> <%= s.sum_score %><br>


     <% end %>
  
    


    

    
    </div>

    </div>


   </div>
  </div>